h1{
    color: red;
}

@media screen and (max-width:500px) {
    h1{
        color: blue;
    }
}

p{
    background-color: red;
    color: white;
}

@media screen and (min-width:800px) {
    p{
        background-color: blue;
    color: orange;
    }
}

h3{
    display: none;
}

@media (orientation: landscape ) {
    h3{
        display: block;
    }
}